html {
    box-sizing: border-box;
    background-color: #ededed;
}

*,
::after, ::before {
    box-sizing: inherit;
}

.main {
    font-family: 'Montserrat', sans-serif;
    margin: 0 auto;
    padding: 20px;
    display: block;
    max-width: 900px;
}

.main__section {
    box-shadow: 0 0 5px #ddd;
    background-color: white;
    margin: 10px 0;
}